server:
  port: 8090

spring:
  application:
    name: crm-crud-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  datasource:
    hikari:
      connection-timeout: 60000 #milisecond
      maximum-pool-size: 20
      minimum-idle: 2
      idle-timeout: 300000 # Close idle connections after 30s
      max-lifetime: 600000  # Close long-living connections after 10 min
      leak-detection-threshold: 60000 #milisecond
  task:
    execution:
      pool:
        core-size: 10
        max-size: 20
        queue-capacity: 500

---
spring:
  config:
    activate:
      on-profile: default, command, local
  datasource:
    url: jdbc:postgresql://localhost:5432/crm
    username: dpvn
    password: dpvietnhat@283
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

storage-service:
  url: http://localhost:8250/api

---
spring:
  config:
    activate:
      on-profile: production
  datasource:
    url: jdbc:postgresql://dpvn-database-craftonline:5432/crm
    username: dpvn
    password: dpvietnhat@283
  data:
    redis:
      port: 6379
      host: dpvn-redis
  kafka:
    bootstrap-servers: dpvn-kafka:9092

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://dpvn-eureka-server:8761/eureka
  instance:
    prefer-ip-address: true

storage-service:
  url: https://storage.duocphamvietnhat.com/api